@import 'susy';

$total-columns: 8;
$med: 14;
$large: 26;

$column-width: 2rem;
$gutter-width: 0.5rem;
$grid-padding: 0;

.page {
    clear: both;
    margin-bottom: 50px;
    @include container($total-columns, $med, $large);
    @include susy-grid-background;
}
