%nav.navbar.navbar-default{:role => "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  %a.navbar-brand{:href => "#"} Brand
  .navbar-collapse.collapse
    %ul.nav.navbar-nav.navbar-left
      %li
        %a{:href => "#"} Left
      %li
        %a{:href => "#about"} Left
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{:href => "#about"} Right
      %li
        %a{:href => "#contact"} Right